/* .swiper-container {
  width: 480px;
}

@media screen and (min-width: 640px) {
  .swiper-container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .swiper-container {
    width: 768px;
  }
} */

@font-face {
  font-family: "DINNextLT";
  src: url("/fonts/DINNextLTArabic-Regular-3.ttf") format("ttf");
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/Proxima Nova Font.otf") format("otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: initial;
  font-family: DINNextLT, Proxima Nova, sans-serif;
}
