.swiper-container {
  width: 480px;
}

@media screen and (min-width: 640px) {
  .swiper-container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .swiper-container {
    width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .swiper-container {
    width: 1024px;
  }
}

@media screen and (min-width: 1080px) {
  .swiper-container {
    width: 1080px;
  }
}

@font-face {
  font-family: "DINNextLT";
  src: url("/fonts/DINNextLTArabic-Regular-3.ttf") format("ttf");
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/Proxima Nova Font.otf") format("otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: initial;
  font-family: DINNextLT, Proxima Nova, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 
.examples {
  padding: 3rem;
  max-width: 1200px;
  display: flex;
  gap: clamp(2rem, 8vw, 4rem);
} */

button {
  background: transparent;
}

@keyframes to-close-icon {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 79.9;
  }
  60% {
    stroke-dashoffset: 79.9;
    rotate: calc(var(--rotation));
  }
  100% {
    stroke-dashoffset: 0;
    rotate: var(--rotation);
  }
}
@keyframes to-open-icon {
  0% {
    stroke-dashoffset: 0;
    rotate: var(--rotation);
  }
  40% {
    stroke-dashoffset: 79.9;
    rotate: var(--rotation);
  }
  60% {
    stroke-dashoffset: 79.9;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.button-three {
  --button-color: black;
  overflow: hidden;
  border: none;
}

.button-three:hover {
  background-color: #eaeaea;
  transition: all 0.5s ease;
}

.button-three .hamburger {
  transition: translate 1s, rotate 1s;
}

.button-three[aria-expanded="true"] .hamburger {
  /* translate: 10px -10px; */
  rotate: 0.125turn;
}

.button-three .line {
  transition: 1s;
  stroke-dasharray: 60 31 60 300;
}

.button-three[aria-expanded="true"] .line {
  stroke-dasharray: 60 105 60 300;
  stroke-dashoffset: -90;
}
